---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    {{- range $key, $value := .Values.deployment.annotations }}
      {{ $key }}: {{ $value | quote }}
    {{- end }}
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ $def := 2 -}}
    {{- if .Values.deployment -}}
    {{- .Values.deployment.replicas | default $def -}}
    {{- else -}}
    {{- $def -}}
    {{- end }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  strategy:
    rollingUpdate:
      maxSurge: {{ .Values.deployment.rollingUpdate.maxSurge | default 1 }}
      maxUnavailable: {{ .Values.deployment.rollingUpdate.maxUnavailable | default 1 }}
    type: RollingUpdate
  template:
    metadata:
      annotations:
        {{- range $key, $value := .Values.deployment.podAnnotations }}
          {{ $key }}: {{ $value | quote }}
        {{- end }}
      labels:
        app: {{ .Release.Name }}
    spec:
      {{- if .Values.deployment -}}
      {{- with .Values.deployment.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
      serviceAccountName: {{ .Release.Name }}
      terminationGracePeriodSeconds: {{ $def := 360 -}}
        {{- if .Values.deployment -}}
        {{- .Values.deployment.terminationGracePeriodSeconds | default $def -}}
        {{- else -}}
        {{- $def -}}
        {{- end }}
      {{- if .Values.deployment -}}
      {{- with .Values.deployment.securityContext }}
      securityContext:
        {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.deployment.nodeSelector }}
      nodeSelector:
        {{- range $key, $value := .Values.deployment.nodeSelector }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
      {{- end }}
      {{- with .Values.deployment.affinity }}
      affinity:
      {{- toYaml . | nindent 8 -}}
      {{- end }}
      {{- with .Values.deployment.tolerations }}
      tolerations:
      {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- if .Values.deployment.priorityClassName }}
      priorityClassName: {{ .Values.deployment.priorityClassName }}
      {{- end }}
      {{- end }}
      {{- $basicAuth := include "basic.auth" . }}
      containers:
      {{- if $basicAuth }}
      {{- if not (eq $basicAuth "kubernetes") }}
      - name: moon-basic-auth
        image: {{ $defRepo := "quay.io/aerokube/moon-basic-auth" -}}
          {{- $defTag := .Chart.AppVersion -}}
          {{- if .Values.deployment -}}
          {{- .Values.deployment.moonBasicAuthRepo | default $defRepo -}}:{{- .Values.deployment.moonBasicAuthTag | default $defTag -}}
          {{- else -}}
          {{- $defRepo }}:{{- $defTag -}}
          {{- end }}
        resources:
          limits:
            cpu: {{ $def := "0.5" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonBasicAuthCPULimit | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
            memory: {{ $def := "256Mi" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonBasicAuthMemoryLimit | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
          requests:
            cpu: {{ $def := "0.2" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonBasicAuthCPURequest | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
            memory: {{ $def := "256Mi" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonBasicAuthMemoryRequest | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
        {{- if .Values.deployment -}}
        {{- with .Values.deployment.containerSecurityContext }}
        securityContext:
          {{ toYaml . | nindent 10 }}
        {{- end }}
        {{- end }}
        ports:
        - containerPort: 4545
        volumeMounts:
        - name: conf
          mountPath: /conf
      {{- end }}
      {{- end }}
      - name: moon
        image: {{ $defRepo := "quay.io/aerokube/moon" -}}
          {{- $defTag := .Chart.AppVersion -}}
          {{- if .Values.deployment -}}
          {{- .Values.deployment.moonRepo | default $defRepo -}}:{{- .Values.deployment.moonTag | default $defTag -}}
          {{- else -}}
          {{- $defRepo }}:{{- $defTag -}}
          {{- end }}
        command:
        - /moon
        - -moon-url
        - http://{{ .Release.Name }}{{- if $basicAuth -}}{{- if not (eq $basicAuth "kubernetes") -}}-incluster{{- end -}}{{- end -}}.{{ .Release.Namespace }}:4444/wd/hub
        {{- if .Values.deployment.moonCallbackURL }}
        - -callback-url
        - {{ .Values.deployment.moonCallbackURL }}
        {{- end }}
        {{- if .Values.deployment.moonBrowserLimit }}
        - -browser-limit
        - {{ .Values.deployment.moonBrowserLimit | quote }}
        {{- end }}
        {{- if .Values.ingress.openshift }}
        env:
        - name: OPENSHIFT
        {{- end }}
        resources:
          limits:
            cpu: {{ $def := "0.5" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonCPULimit | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
            memory: {{ $def := "256Mi" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonMemoryLimit | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
          requests:
            cpu: {{ $def := "0.2" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonCPURequest | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
            memory: {{ $def := "256Mi" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonMemoryRequest | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
        {{- if .Values.deployment -}}
        {{- with .Values.deployment.containerSecurityContext }}
        securityContext:
          {{ toYaml . | nindent 10 }}
        {{- end }}
        {{- end }}
        ports:
        - containerPort: 4444
      - name: moon-conf
        image: {{ $defRepo := "quay.io/aerokube/moon-conf" -}}
          {{- $defTag := .Chart.AppVersion -}}
          {{- if .Values.deployment -}}
          {{- .Values.deployment.moonConfRepo | default $defRepo -}}:{{- .Values.deployment.moonConfTag | default $defTag -}}
          {{- else -}}
          {{- $defRepo }}:{{- $defTag -}}
          {{- end }}
        resources:
          limits:
            cpu: {{ $def := "0.25" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonConfCPULimit | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
            memory: {{ $def := "128Mi" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonConfMemoryLimit | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
          requests:
            cpu: {{ $def := "0.05" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonConfCPURequest | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
            memory: {{ $def := "128Mi" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonConfMemoryRequest | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
        {{- if .Values.deployment -}}
        {{- with .Values.deployment.containerSecurityContext }}
        securityContext:
          {{ toYaml . | nindent 10 }}
        {{- end }}
        {{- end }}
      {{- if $basicAuth }}
      {{- if not (eq $basicAuth "kubernetes") }}
      - name: moon-ui-basic-auth
        image: {{ $defRepo := "quay.io/aerokube/moon-basic-auth" -}}
          {{- $defTag := .Chart.AppVersion -}}
          {{- if .Values.deployment -}}
          {{- .Values.deployment.moonBasicAuthRepo | default $defRepo -}}:{{- .Values.deployment.moonBasicAuthTag | default $defTag -}}
          {{- else -}}
          {{- $defRepo }}:{{- $defTag -}}
          {{- end }}
        args:
        - -listen
        - ":8181"
        - -upstream-url
        - http://127.0.0.1:8080
        resources:
          limits:
            cpu: {{ $def := "0.5" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonBasicAuthCPULimit | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
            memory: {{ $def := "256Mi" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonBasicAuthMemoryLimit | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
          requests:
            cpu: {{ $def := "0.2" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonBasicAuthCPURequest | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
            memory: {{ $def := "256Mi" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonBasicAuthMemoryRequest | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
        {{- if .Values.deployment -}}
        {{- with .Values.deployment.containerSecurityContext }}
        securityContext:
          {{ toYaml . | nindent 10 }}
        {{- end }}
        {{- end }}
        ports:
        - containerPort: 8181
        volumeMounts:
        - name: conf
          mountPath: /conf
      {{- end }}
      {{- end }}
      {{- if .Values.deployment.experimentalUI }}
      {{- if $basicAuth }}
      {{- if not (eq $basicAuth "kubernetes") }}
      - name: moon-exp-ui-basic-auth
        image: {{ $defRepo := "quay.io/aerokube/moon-basic-auth" -}}
          {{- $defTag := .Chart.AppVersion -}}
          {{- if .Values.deployment -}}
          {{- .Values.deployment.moonBasicAuthRepo | default $defRepo -}}:{{- .Values.deployment.moonBasicAuthTag | default $defTag -}}
          {{- else -}}
          {{- $defRepo }}:{{- $defTag -}}
          {{- end }}
        args:
        - -listen
        - ":9191"
        - -upstream-url
        - http://127.0.0.1:9090
        resources:
          limits:
            cpu: {{ $def := "0.5" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonBasicAuthCPULimit | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
            memory: {{ $def := "256Mi" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonBasicAuthMemoryLimit | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
          requests:
            cpu: {{ $def := "0.2" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonBasicAuthCPURequest | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
            memory: {{ $def := "256Mi" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonBasicAuthMemoryRequest | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
        {{- if .Values.deployment -}}
        {{- with .Values.deployment.containerSecurityContext }}
        securityContext:
          {{ toYaml . | nindent 10 }}
        {{- end }}
        {{- end }}
        ports:
        - containerPort: 9191
        volumeMounts:
        - name: conf
          mountPath: /conf
      {{- end }}
      {{- end }}
      - name: moon-exp-ui
        image: {{ $defRepo := "quay.io/aerokube/moon-ui" -}}
          {{- $defTag := .Chart.AppVersion -}}
          {{- if .Values.deployment -}}
          {{- .Values.deployment.moonUIRepo | default $defRepo -}}:{{- .Values.deployment.moonUITag | default $defTag -}}
          {{- else -}}
          {{- $defRepo }}:{{- $defTag -}}
          {{- end }}
        args:
        - -listen
        - :9090
        resources:
          limits:
            cpu: {{ $def := "0.25" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonUICPULimit | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
            memory: {{ $def := "64Mi" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonUIMemoryLimit | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
          requests:
            cpu: {{ $def := "0.25" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonUICPURequest | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
            memory: {{ $def := "64Mi" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonUIMemoryRequest | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
        {{- if .Values.deployment -}}
        {{- with .Values.deployment.containerSecurityContext }}
        securityContext:
          {{ toYaml . | nindent 10 }}
        {{- end }}
        {{- end }}
        ports:
        - containerPort: 9090
      {{- end }}
      - name: moon-ui
        image: {{ $defRepo := "quay.io/aerokube/moon-ui" -}}
          {{- $defTag := "2.0.7" -}}
          {{- if .Values.deployment -}}
          {{- .Values.deployment.moonUIRepo | default $defRepo -}}:{{- $defTag -}}
          {{- else -}}
          {{- $defRepo }}:{{- $defTag -}}
          {{- end }}
        args:
          - -allowed-origin
          - "*"
        resources:
          limits:
            cpu: {{ $def := "0.25" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonUICPULimit | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
            memory: {{ $def := "64Mi" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonUIMemoryLimit | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
          requests:
            cpu: {{ $def := "0.05" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonUICPURequest | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
            memory: {{ $def := "64Mi" -}}
              {{- if .Values.deployment -}}
              {{- .Values.deployment.moonUIMemoryRequest | default $def | quote -}}
              {{- else -}}
              {{- $def -}}
              {{- end }}
        {{- if .Values.deployment -}}
        {{- with .Values.deployment.containerSecurityContext }}
        securityContext:
          {{ toYaml . | nindent 10 }}
        {{- end }}
        {{- end }}
        ports:
        - containerPort: 8080
      volumes:
      {{- if $basicAuth }}
      {{- if not (eq $basicAuth "kubernetes") }}
      - name: conf
        secret:
          secretName: {{ .Release.Name }}-basic-auth
      {{- end }}
      {{- end }}
